{{- /* Head custom content area start */ -}}
{{- /*     Insert any custom code (web-analytics, resources, etc.) - it will appear in the <head></head> section of every page. */ -}}
{{- /*     Can be overwritten by partial with the same name in the global layouts. */ -}}

<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>

<link rel='stylesheet' href='https://chinese-fonts-cdn.deno.dev/packages/qxs/dist/quan/result.css' />
<link rel='stylesheet' href='https://chinese-fonts-cdn.deno.dev/packages/lxgwwenkai/dist/LXGWWenKai-Regular/result.css' /> 
<link rel='stylesheet' href='https://chinese-fonts-cdn.deno.dev/packages/xiaolai/dist/Xiaolai/result.css' /> 

<link rel="icon" type="image/png" href="/hotaru_blog/favicon-96x96.png" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="/hotaru_blog/favicon.svg" />
<link rel="shortcut icon" href="/hotaru_blog/favicon.ico" />
<link rel="apple-touch-icon" sizes="180x180" href="/hotaru_blog/apple-touch-icon.png" />
<link rel="manifest" href="/hotaru_blog/site.webmanifest" />

{{- /* Head custom content area end */ -}}